*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

/* inizio header */

header{
    height: 70px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

a{
    text-decoration: none;
    padding:20px ;
    font-size:18px ;
    color: black;
}

.nav-bar{
    padding-top: 2px;
}


.top-content{
    display: flex;
    justify-content: space-between;
   padding:20px;
}

.left, .right{
    display: flex;
}




.top-btn{
    background-color: #0161ff;
    color: white;
    border: transparent;
    font-size: 16px;
    padding: 0 10px 0 10px;
}

/* fine header */