*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

/* inizio header */

header{
    height: 70px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

a{
    text-decoration: none;
    padding:20px ;
    font-size:18px ;
    color: black;
}

.position-fixed{
    position: fixed;
}

.nav-bar{
    padding-top: 2px;
}


.top-content{
    display: flex;
    justify-content: space-between;
   padding:20px;
   width: 100%;
}

.left, .right{
    display: flex;
}




.top-btn{
    background-color: #0161ff;
    color: white;
    border: transparent;
    font-size: 16px;
    padding: 0 10px 0 10px;
}

/* fine header */


.bg-aqua{
background-color: #b5d0e7;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.tt-block{
    margin-top: 20px;
}

.tt{
    font-size: 75px;
   
}

.jm-img{
    width: 100%;
}

.description{
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    
}

.btn-trial{
    padding:10px 20px 10px 20px;
    font-size: 20px;
    color: white;
    background-color: #0161ff;
    border: transparent;
    margin-top: 40px;
    margin-bottom: 40px
} 

i{
    margin-top: 40px;
    font-size: 50px
}


.end-description{
    font-size:20px ;
}

.bl-description{
    font-size: 20px;
}

.img-block{
    padding-left: 50px;
}




