*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

/* inizio header */

header{
    height: 70px;
}

ul{
    list-style: none;
}

.url{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

a{
    text-decoration: none;
    padding:20px ;
    font-size:18px ;
    color: black;
}

.position-fixed{
    position: fixed;
}

.nav-bar{
    padding-top: 2px;
}


.top-content{
    display: flex;
    justify-content: space-between;
   padding:20px;
   width: 100%;
   background-color: white;
}

.left, .right{
    display: flex;
}




.top-btn{
    background-color: #0161ff;
    color: white;
    border: transparent;
    font-size: 16px;
    padding: 0 10px 0 10px;
}

/* fine header */


.bg-aqua{
background-color: #b5d0e7;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.tt-block{
    margin-top: 20px;
}

.tt{
    font-size: 75px;
   
}

.jm-img{
    width: 100%;
    
}

.description{
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
    
}

.btn-trial{
    padding:10px 20px 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #0161ff;
    border: transparent;
    margin-top: 40px;
    margin-bottom: 40px
} 

.mar-top-40{
    margin-top: 40px;
    font-size: 50px
}


.end-description{
    font-size:20px ;
}

.bl-description{
    font-size: 20px;
}

.img-block{
    padding-left: 50px;
}

/* fine primo blocco */


/* inizio secondo blocco */

.container-2{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
   
}

.chose-plan{
    margin-top: 50px;
}

.row{
    display: flex;
    gap: 30px;
}

.mt-40{
    margin-top: 40px;
}

span{
    padding-right: 30px;
}

.col{
    width: 400px;
}

.h-1000{
    height: 1000px;
}

.h-500{
    height: 400px;
}

.h-300{
    height: 230px;
}

.mt-20{
    margin-top:20px ;
}


.b-black{
    border: 1px solid black;
}

.just-cont-cent{
    justify-content: center;
}

.b-tt{
    display: flex;
    justify-content: center;
    border-bottom:1px solid black ;
   
    
}   

.icon{
    font-size: 20px;  
    margin-right: 5px;  
}



.txt-cent{
  font-size: 18px;
  font-weight: bold;
  padding:5px ;
}

.info{
    margin: 15px;
}

.info-tt, .value, .grey{
    padding-top: 20px;
}

.value{
    font-weight: 700;
}

.grey{
    color:grey ;
}

.funct{
    margin-top: 30px;
}

.my-40, .p-10{
    margin-top: 40px;
    padding: 15px;
}

h3{
    margin: 30px;
}
.m-20{
    margin-top:5px;
    padding: 15px;
}


.btn-cnt{
   margin: 35px;
}

.buy-btn{
    padding: 15px 40px 15px 40px;
    color: white;
    background-color: #0161ff   ;
    border: transparent;
}

.ind{
    color: #0161ff;
    text-decoration: underline;
}

.alt{
    margin-left: 35px;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}


/* fine colonne */

/* inizio seconda sezione colonne */


.col-60{
width: 700px;
background-image: url(/img/partner.png);
background-size:cover ;
}

.col-40{
width: 300px;
}

.bx-tt{
    margin-top: 75px;
}

.white-btn{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    background-color: white;

}

/* fine sezione */


/* inizio sezione 6 colonne */

.row-wrap{
  display: flex;
  flex-wrap: wrap; 
  gap: 60px;
  justify-content: center;

}


.col-15{
    width: 500px;
    width: calc((100% - 120px) / 3);

}

.h-100{
    height: 400px;
}


.bx-img{
    width: 100%;
}

.card-tt{
    padding-bottom:15px ;
   
}

/* terminata sezione struttura a 6 */


.last-bx{
    margin-top: 50px;
}

.self{
    text-decoration: underline;
    margin-top:50px ;
    color: #0161ff;
}

.self:hover{
    color: #57d966;
    cursor: pointer;
}


/* main terminato */


 .bg-black{
    background-color: black;
    height: 500px;
} 

.sub-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    color: white;
}

.first{
    margin-top:100px ;
}

.line{
    width: 10%;
    margin-top: 40px;
    margin-left: 40px;
}

.last{
    margin-top: 40px;
    margin-left: 40px;
}